doctype html
html(lang="en")
  head
    title rate my github
    script(src="#{locals['dist/main.js'].substr(5)}")
    if compileDebug
      script(src="http://localhost:9092/livereload.js")
      
    link(rel="stylesheet",href="#{locals['dist/main.css'].substr(5)}")
  body(ng-app="ghrate")
    h1.title.text-center rate my github
    h3.subtitle.text-senter do you even github, bro?!
    .widget(ng-controller="WidgetController")
      form.input-container(ng-submit="getData(user)",ng-class="{'hidden': showResult}")
        div
          input(ng-model="user",placeholder="*github username here*",id="user")  
        label(for="user") fill in the blink
          span(ng-class="{'hidden': !user}") , now press enter!
        //- button(ng-click="getData(user)") rate me!
      .result-container(ng-class="{'hidden': !showResult}")
        .error-message(ng-if="error") {{error}}
        .result-counter
          .counter-message {{data.counterMessage}}
          .counter-container(ng-repeat="(key, value) in data.counter")
            span.counter-name {{key}} 
            progressbar(value="value.progress && (value.progress / value.total * 100) || 0") {{value.progress || 0}} / {{value.total || 0}}
          div(widget)
