@font-face
  font-family: 'Alegreya-Sans';
  src: url('fonts/alegreyasans/AlegreyaSans-Light.ttf')  format('truetype');
  font-style: normal;
  font-weight: lighter;

@font-face
  font-family: 'Alegreya-Sans';
  src: url('fonts/alegreyasans/AlegreyaSans-Regular.ttf')  format('truetype');
  font-style: normal;
  font-weight: normal;

@font-face
  font-family: 'Alegreya-Sans';
  src: url('fonts/alegreyasans/AlegreyaSans-Bold.ttf')  format('truetype');
  font-style: normal;
  font-weight: bold;

@font-face
  font-family: 'Alegreya-Sans';
  src: url('fonts/alegreyasans/AlegreyaSans-MediumItalic.ttf')  format('truetype');
  font-style: italic;
  font-weight: normal;

@font-face
  font-family: 'Alegreya-Sans';
  src: url('fonts/alegreyasans/AlegreyaSans-LightItalic.ttf')  format('truetype');
  font-style: italic;
  font-weight: lighter;

@font-face
  font-family: 'Alegreya-Sans';
  src: url('fonts/alegreyasans/AlegreyaSans-BoldItalic.ttf')  format('truetype');
  font-style: italic;
  font-weight: bold;
