// variables
@import 'vars'

// library
@import 'nib'
@import 'mixin'
@import 'bootstrap'

.iconic {
	color:inherit;
	font-family: "IconicStroke";
}

a.iconic:hover {
	color:inherit;
}

.iconic.home:before {
  content: '!';
}

// font
@import 'alegreyasans'

@import 'body'
@import 'headings'
@import 'widget'
