.widget
  padding 2em
  width 66.7%
  margin auto
  .input-container
    text-align right
    absolute top 50%
    height 100%

  input#user
    width 100%
    font-size 3em
    text-align right
    background transparent
    border 0
    border-bottom 1.67px solid white
    line-height 240%
    padding-right 20px

  label
    text-align right
    transform translateX(100%) translateY(-100%)
    line-height 720%
    padding-left 20px

.left
  background #dd22ee
  padding 2em

  .avatar-space

    img
      display block
      height 16.7em
      margin 0 auto
      border-radius 50%

  .contact-space
    ul
      li
        a
          display block
          width 25px
        span
          display block
.right
  background lighten #dd22ee 70%
